<!DOCTYPE html>
<html>
 <head>
  <title> Customer record </title>
  <% include layout/head %>
 </head>

 <body>

<div class="container">
	<div class="customer-data">
		<form role="form" class="form-horizontal">
		
		<div class="form-group">
		    <label for="customerId" class='col-sm-3'> Showing details for : </label>
		    <div class="col-sm-9">
		    	<input type="text" class="form-control" id="customerId" disabled value="<%= row['customerNumber'] %>">
		    </div>
		    
		  </div>
		
		  <div class="form-group">
		    <label for="customerName" class='col-sm-3'> Customer Name</label>
		    <div class="col-sm-9">
		    	<input type="text" class="form-control" id="customerName" value="<%= row['customerName'] %>">
		    </div>
		    
		  </div>
		  <div class="form-group">
		    <label for="contactLastName" class='col-sm-3'>Contact Last Name</label>
		    <div class="col-sm-9">
		    	<input type="text" class="form-control" id="contactLastName" value="<%= row['contactLastName'] %>">
		    </div>
		    
		  </div>
		  <div class="form-group">
		    <label for="contactFirstName" class='col-sm-3'>Contact First Name</label>
		    <div class="col-sm-9">
		    	<input type="text" class="form-control" id="contactFirstName" value="<%= row['contactFirstName'] %>">
		    </div>
		    
		  </div>
		  <div class="form-group">
		    <label for="phone" class='col-sm-3'>Contact First Name</label>
		    <div class="col-sm-9">
		    	 <input type="text" class="form-control" id="phone" value="<%= row['phone'] %>">
		    </div>
		   
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	 </div>
</div>
 
  
 </body>
</html>
